{% extends "index.html" %}

{% block content %}
    <form action="/users/{% if user.id %}{{ user.id }}/edit{% else %}add{% endif %}" method="post" class="form-horizontal well">
        <div class="control-group">
            <label class="control-label" for="name">Name:</label>
            <div class="controls">
                <input type="text" id="name" name="name" value="{{ user.name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                <input type="password" id="password" name="password">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="type">Type:</label>
            <div class="controls">
                <select name="type" id="type">
                    <option value="cluster" {% if user.type == "cluster" %} selected="selected"{% endif %}>Cluster User</option>
                    <option value="android" {% if user.type == "android" %} selected="selected"{% endif %}>Android User</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}